
/*  首先来设置整个界面的文字样式,清除边距 */
/* *代表通配符, css中*{}代表所有HTML的doc所有元素标签 */
*{
  /* 外边距 */
  margin: 0px;
  /* 字体大小 */
  font-size: 17px; 
  /* 字体样式 */
  font-family: "黑体";
}

/* body为整个代码区域附上背景色 一个灰色的背景 */
body{
   background-color: rgb(242,242,242);
}


/*==========================*/
/*       头部             */
/*==========================*/
/* .header是class名称 */
.header{
   width: 100%;
   height: 113px;
   /* 相对顶部位置 */
   top: 0px;   
   background-color: rgba(0,0,0,0.5);
   margin-top: 0px;
   position: absolute;
   /* 元素框从文档流完全删除去,就好像元素不存在一样 元素定位后生成一个块级框,而不论原来他在正常流中生成何种类型框 */
   position: fixed;
   /* 设置图片居中 */
   text-align: center;
   /* 设置阴影效果 属性分别对应: 横向距离 垂直偏移值 阴影距离 阴影颜色 */
   box-shadow: 0px,4px,4px rgba(0,0,0,0.5);
}

/* 调整头部 logo 尺寸 */
.header img{
   margin: 15px;
   width: 140px;
   height: 55px;
}

ul{
	/* 列表标记类型 */
	list-style-type: none;
}

ul a{

   /* 下滑线 */
  /*text-decoration: underline; */
  /* 删除线 */
  /*text-decoration: line-through; */

	/* 取消a的下划线 */
   text-decoration: none;
}

a{
	color: rgba(255,255,255,0.5);
}

/* 伪代码 a:hover 当鼠标放在a标签上 可以去设置颜色和大小 */
a:hover{
  color: white;

}

li{
   /* display 属性规定元素应该生成的框的类型: 默认line 此元素会被现实为内联元素, 元素前后内有换行*/
   display: inline;
   margin: 0px 30px;
   padding: 0px 20px;
}


/*==================================*/
/*             内容区域             */
/*=================================*/
.content{
  width: 70%;
  height: 1620px;
  margin: auto;
}

/* banner 公司介绍,合作企业*/
/* 设置具体图片距离顶部标题栏的距离*/
.content_top{
   width: 100%;
   height: 690px;
   margin-top: 130px;
}

/* 横幅 */
.content_banner{
  width: 100%;
  height: 490px;
}

/* 设置标题栏下面的图片的尺寸*/
.content_banner .img_banner{
  width: 100%;
  height: 420px;

}

/* 设置提示语大小颜色 */
.banner_title_bg{
  margin-top: -3px;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  color:  white;
  padding: 5px 0px;
}

/* 轮播图下方的点部分*/
.xiaodiandian{
  margin-top: 10px;
  text-align: center;
}

.dian{
  display: inline;
}

.content_introduce{
   width: 100%;
   height: 80px;
}

.line{
  margin: 0px 10px;
  background-color: gray;
  height: 1px;
  /* 透明opacity 调整元素透明度*/
  opacity: 0.1;
}

/* 设置介绍文字的样式 */
.introduce{
  padding: 10px;
  font-size: 13px;
  color: darkgray;
  line-height: normal;
}

/* 合作企业底部图片大小 */
.content_company{
   width: 100%;
   height: 100px;
}

div.commany_logo{
  /* 文字居中 */
  text-align: center;
}

div.commany_logo img{
   width: 60px;
   height: 38px;
   /* 需要注意: 当设置属性为四个时候 属性分别对应 上 右 下 左*/
   padding: 10px 10px 0px 10px;
}

/*====================================*/
/*           列表图片展示            */
/*================================*/
/* */





































